:root{
    --dark__purple:rgba(36, 5, 62, 1);
    --Eucaplyptus:rgba(68, 255, 161, 1); 
    --White:rgba(255, 255, 255, 1);
    --Davy__grey: rgba(88, 77, 98, 1); 
    
    /* --------- font-------- */
    --ff__Fraunces: 'Fraunces', serif;
    --ff__Manrope: 'Manrope', sans-serif;
    --fz__60: 3.75rem;
    --fz__50 : 3.125rem;
    --fz__48: 3rem;
    --fz__28 : 1.75rem;
    --fz__20 : 1.25rem;
    --fz__32: 2rem;
    --transition:color 250ms ease-in-out;
}
/* ---------------- General ------------------- */
html{
    box-sizing: border-box;
    font-size:100%;
}

*, *::before,*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: var(--ff__Manrope) ;
    line-height: 1.56;
    padding-bottom: 30rem;
}

h1,p,ul{
    margin-top: 0;
}

h1{
    line-height: 1;
}

ul{
    list-style-type: none;
    margin: 32px 18px;
    padding: 0;
}



/* --------------navigation bar ------------ */
.navigation {
    display: flex;
    justify-content: space-between;

}

.navigation ul li a{
    color: var(--White);
    text-decoration: none;
    line-height: 1.625;
}

.navigation ul li{
  border-bottom: 3px solid var(--Eucaplyptus);
  padding-bottom: 3px;
}
.navigation ul li a {
    transition: var(--transition) ;
}
.navigation ul li a:hover {
    color:var(--Eucaplyptus);
    border: none;

}

 
.logo__nav{
    margin: 37px 18px;
   width: 95.762px;
   height: 24.608px;
}

/* ------------- hero ---------------------- */
.hero__container{
    background-color: var(--dark__purple);
    color: var(--White);
    border-bottom-left-radius: 25% 5%;
    border-bottom-right-radius: 25% 5%;
    height: 490px;

}

.hero__container h1{
    font-family: var(--ff__Fraunces);
    font-size: var(--fz__50);
    font-weight: 600;
    text-align: center;
    margin-top: 70px;

}

.hero__container h1 span{
    background-image: linear-gradient(
        to right,
        var(--Eucaplyptus) 75%,
        var(--Eucaplyptus) 75%
      );
      background-position: 0 1.02em;
      background-repeat: repeat-x;
      background-size: 8px 4px; 
}

.hero__container .hero__button{
    transition: var(--transition) ;
    background-color: var(--Eucaplyptus);
    text-decoration: none;
    color: var(--dark__purple);
    font-weight: 700;
    padding: 0.3em 1em;
    transform: var(--transition);
    letter-spacing: -0.16px;
    padding: 12px 24px;

}

.hero__container  a:hover{
    color: var(--Eucaplyptus);
    background: none;
    border: 2px solid var(--Eucaplyptus) ;
}

.link__button{
    display: flex;
    justify-content: center;
}

/* -----------------  main contains ---------------- */
.main__container{
    margin-top: 140px;

}

.img__phone{
    width: 298.305px;
    height: 178.159px;
    margin: 50px;

}

/* --- Section ------ */
.resume{

}

.sub__resume{

}

